.app{
    background-image: url("./../assets/image/background-image-hogaman.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
}

li{
    list-style-type: none;  
}

a{
    color: black;
}