
.box-design-weekly{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
    height: 75vh;
    border-radius: 20px 20px 0px 0px;
    padding: 2rem 1.5rem 0rem 1.5rem;
    animation-name:box-design-weekly-animate;
    animation-duration: 0.5s;
    transform: translateY(+50px);
    font-weight: bold;
    position: relative;
}

._box-design-weekly-week{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
._box-design-weekly_date{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
._box-design-weekly_date p:nth-child(1){
    font-weight: bold;
    font-size: 15px;
}
._box-design-weekly_date p:nth-child(2){
    font-size: 11px;
    color: gray;
}


.box-design-weekly h4{
    position: absolute;
    top: -2rem;
    color: white;
}

._box-design-weekly-description{
padding-top: 10px;
}
._box-design-weekly-description p:nth-child(1){
   font-size: 11px;
    color: gray;
    padding-bottom: 4px;
}
._box-design-weekly-description p:nth-child(2){
    font-weight: bold;
    font-size: 15px;
}

._box-design-weekly-description div{
    width: 100%;
    padding-top: 1rem;
    
}

._box-design-weekly-description img{
    width: 100%;
    height: 100px;
    border-radius: 20px;
}

._box-design-weekly-input div:nth-child(2){
    padding-top: 2px;
}
._box-design-weekly-input label{
    font-weight: bold;
    font-size: 15px;
}

@keyframes box-design-weekly-animate {
    0%{ transform: translateY(82px);}
    10%{ transform: translateY(78px);}
    20%{ transform: translateY(75px);}
    30%{ transform: translateY(72px);}
    40%{ transform: translateY(70px);}
    50%{ transform: translateY(67px);}
    60%{ transform: translateY(63px);}
    70%{ transform: translateY(58px);}
    80%{ transform: translateY(55px);}
    90%{ transform: translateY(52px);}
    100%{ transform:  translateY(50px);} 
}

@media only screen and (max-width:600px){
    .box-design-weekly{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0.5rem;
        height: 75vh;
        border-radius: 20px 20px 0px 0px;
        padding: 2rem 1.5rem 0rem 1.5rem;
        animation-name:box-design-weekly-animate;
        animation-duration: 0.5s;
        transform: translateY(+34px);
        font-weight: bold;
        position: relative;
    }
    @keyframes box-design-weekly-animate {
        0%{ transform: translateY(82px);}
        10%{ transform: translateY(77px);}
        20%{ transform: translateY(70px);}
        30%{ transform: translateY(64px);}
        40%{ transform: translateY(58px);}
        50%{ transform: translateY(52px);}
        60%{ transform: translateY(46px);}
        70%{ transform: translateY(43px);}
        80%{ transform: translateY(40px);}
        90%{ transform: translateY(37px);}
        100%{ transform:  translateY(34px);} 
    }
}    