.navbar{
    background-color: rgb(201, 202, 201);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}
.navbar svg{
    font-size: x-large;
}