.planed-box-addItem {
    animation-name: planed-box-addItem-animate;
    animation-duration: 0.5s;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: row-reverse;
    height: 65vh;
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem;
    transform: translateY(-125px);
}

.planed-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    gap:5px;
    height: fit-content;
    padding: 0rem 0.25rem;
    position: relative;
}

._planed_box_designWeekly{
    background-color: #F8D58A;
    border-radius: 1.5rem;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    margin-top: 1.5rem;
}
._planed_Location{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding-top: 10px;
}

._planed_Location p{
    /* padding: 10px 0px 10px 0px; */
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size:small;
    color: rgb(85, 84, 84);
}

._planed_box_daily{
    border-radius: 1.5rem;
    width: 100%;
    padding: 1rem 0 0.5rem 1rem;
    background-color: #9CC58C;
    margin-top: 2rem;
    animation-name:_planed_box_animate;
    animation-duration: 1s;
    transform: translateX(0px);
}

._planed_box_daily p:nth-child(1){
    font-weight: bold;
}

._planed_Location_box_daily{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

._planed_Location_box_daily p{
    padding: 10px 0px 10px 0px;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size:small;
    color: rgb(85, 84, 84);
}


._planed_box_designTask_{
    background-color: #F3AFC7;
    position: absolute;
    top: 16rem;
    border-radius: 1.5rem;
    width: 100%;
    padding: 1rem 0 0.5rem 1rem;;
    animation-name: _planed_box_designTasks;
    animation-duration: 0.7s;
    transform: translateY(0px);
}

._planed-nav{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0 0.5rem 0 0.5rem ;
}


._planed-nav p{
    font-weight: bold;
    font-size: large;
}
._planed-nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: gray;
}

@keyframes planed-box {
    0%{ transform: translateY(+550px);}
    10%{ transform: translateY(+525px);}
    20%{ transform: translateY(+501px);}
    30%{ transform: translateY(+477px);}
    40%{ transform: translateY(+453px);}
    50%{ transform: translateY(+429px);}
    60%{ transform: translateY(+405px);}
    70%{ transform: translateY(+381px);}
    80%{ transform: translateY(+357px);}
    90%{ transform: translateY(+333px);}
    100%{ transform:  translateY(+220px)} 
}

@keyframes planed-box-addItem-animate {
    0% { transform: translateY(-85px);}
    10%{ transform: translateY(-86px);}
    20%{ transform: translateY(-87px);}
    30%{ transform: translateY(-89px);}
    40%{ transform: translateY(-90px);}
    50%{ transform: translateY(-93px);}
    60%{ transform: translateY(-95px);}
    70%{ transform: translateY(-100px);}
    80%{ transform: translateY(-110px);}
    90%{ transform: translateY(-115px);}
    100%{ transform:  translateY(-125px)} 
}

@keyframes _planed_box_animate {
    0%{ transform: translateX(300px);}
    10%{ transform: translateX(270px);}
    20%{ transform: translateX(240px);}
    30%{ transform: translateX(210px);}
    40%{ transform: translateX(180px);}
    50%{ transform: translateX(150px);}
    60%{ transform: translateX(120px);}
    70%{ transform: translateX(90px);}
    80%{ transform: translateX(60px);}
    90%{ transform: translateX(30px);}
    100%{ transform:  translateX(0px)} 
}

@keyframes _planed_box_designTasks {
    0%{ top:8rem;}
    10%{ top:8.6rem}
    20%{ top:9.2rem }
    30%{top:9.8rem }
    30%{ top:10.4rem}
    40%{ top:11rem}
    50%{ top:11.6rem}
    60%{ top:12.2rem}
    70%{ top:12.8rem}
    80%{ top:13.4rem}
    90%{ top:14rem}
    100%{top:16rem}
}

@media only screen and (max-width:600px){
    .planed-box-addItem{
        animation-name: planed-box-addItem-animate;
        transform: translateY(-154px);
    }
    @keyframes planed-box-addItem-animate {
        0% { transform: translateY(-85px);}
        10%{ transform: translateY(-93px);}
        20%{ transform: translateY(-107);}
        30%{ transform: translateY(-118);}
        40%{ transform: translateY(-125px);}
        50%{ transform: translateY(-135px);}
        60%{ transform: translateY(-142px);}
        70%{ transform: translateY(-148px);}
        80%{ transform: translateY(-149px);}
        90%{ transform: translateY(-150px);}
        100%{ transform:  translateY(-154px)} 
    }
}