.box-setting{
    background-color: rgb(252, 252, 252);
    flex-direction: row-reverse;
    height: fit-content;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    animation-name: animateUpComing;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s; 
    transform: translateY(-16px);
}

.upComing{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    gap:5px;
    height: fit-content;
    padding: 1.5rem;
    position: relative;
}

.upComing a{
    width: 100%;
    text-align: start;
    font-size: x-small;
    margin-bottom: 1rem;
}

.upComing p{
    padding: 10px 0px 10px 0px;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: large;
}

._upcoming_Location{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

._upcoming_Location p{
    padding: 10px 0px 10px 0px;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size:small;
    color: rgb(85, 84, 84);
}

.upComing p svg {
    padding-right: 0.5rem;
}

._upComing_box_designWeekly{
    background-color: #F8D58A;
    border-radius: 1.5rem;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
}
._upComing_box_designWeekly p:nth-child(1){
    font-weight: bold;
}

._upComing_box_designTasks{
    background-color: #F3AFC7;
    border-radius: 1.5rem;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
}

._upComing_box_designTasks p:nth-child(1){
    font-weight: bold;
}

@keyframes animateUpComing {
    0%{ transform: translateY(+220px);}
    10%{ transform: translateY(+167px);}
    20%{ transform: translateY(+134px);}
    30%{ transform: translateY(+111px);}
    40%{ transform: translateY(+70px);}
    50%{ transform: translateY(+40px);}
    60%{ transform: translateY(+30px);}
    70%{ transform: translateY(10px);}
    80%{ transform: translateY(0px);}
    90%{ transform: translateY(-10px);}
    100%{ transform: translateY(-16px);}
}

@media only screen and (max-width: 600px){
    ._upComing_box_designWeekly{
        padding: 0.5rem 0 0.5rem 1rem;
    }
    ._upComing_box_designTasks{
        padding: 0.5rem 0 0.5rem 1rem;
    }
    .box-setting{
        animation-name: animateUpComing;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-delay: 0s; 
        transform: translateY(-77px);
    }
    @keyframes animateUpComing {
        0%{ transform: translateY(+220px);}
        10%{ transform: translateY(+187px);}
        20%{ transform: translateY(+154px);}
        30%{ transform: translateY(+121px);}
        40%{ transform: translateY(+80px);}
        50%{ transform: translateY(+55px);}
        60%{ transform: translateY(+22px);}
        70%{ transform: translateY(-7px);}
        80%{ transform: translateY(-30px);}
        90%{ transform: translateY(-74px);}
        100%{ transform: translateY(-77px);}
    }
}