.box-setting{
    background-color: rgb(194, 189, 189);
    flex-direction: row-reverse;
    height: fit-content;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    animation-name: animateUpComing;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s; 
    transform: translateY(+356px);
}

.upComing{
    /* background-color: rgb(30, 72, 187); */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    gap:5px;
    height: fit-content;
    padding: 0.5rem;
    position: relative;
}


.upComing p{
    padding: 10px 0px 10px 0px;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: large;
}

._upComing_box_designWeekly{
    background-color: #F8D58A;
    border-radius: 0.7rem;
    width: 100%;
    padding: 0 0 0 10rem;
}

._upComing_box_designTasks{
    background-color: #F3AFC7;
    border-radius: 0.7rem;
    width:100%;
    padding: 0 0 0 10rem;
}

@keyframes animateUpComing {
    0%{ transform: translateY(+550px);}
    10%{ transform: translateY(+529px);}
    20%{ transform: translateY(+510px);}
    30%{ transform: translateY(+481px);}
    40%{ transform: translateY(+462px);}
    50%{ transform: translateY(+443px);}
    60%{ transform: translateY(+424px);}
    70%{ transform: translateY(+405px);}
    80%{ transform: translateY(+386px);}
    90%{ transform: translateY(+367px);}
    100%{ transform: translateY(+348px);}
}

@media only screen and (max-width: 600px){
    ._upComing_box_designWeekly{
        padding: 0 0 0 1rem;
    }
    ._upComing_box_designTasks{
        padding: 0 0 0 1rem;
    }
}